<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Spring 配置文件 -->
    <configSections>
      <sectionGroup name="spring">
        <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      </sectionGroup>
    </configSections>
    <spring>
      <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
        <resource uri="~/Config/spring.db.xml"/>
      </context>
    </spring>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
          <bindingRedirect oldVersion="1.0.80.0" newVersion="1.0.86.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>